.wrapper{
	display: flex;
	flex-direction: column;
	padding-top: 72px;
	min-height: 100vh;
	position: relative;

	&:after{
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(to right, $light-bg 0%, $light-bg 50%, #fff 50%, #fff 100%);;
	}

	.page{
		flex: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		.header{
			flex: none;
			position: fixed;
			height: 72px;
			left: 0;
			top: 0;
			width: 100%;
			background: $dark-bg;
			display: flex;
			justify-content: center;
			z-index: 100;

			.header-inner{
				display: flex;
				width: 100%;
				// max-width: 1170px;
				justify-content: center;
				min-width: $content-min-width;
				max-width: $content-max-width;

				.header-left{
					flex: none;
					padding: 15px 20px;
					display: flex;
					align-items: center;
				}

				.header-middle{
					flex: auto;
					display: flex;
					padding: 15px 25px;
					background: $green;
					align-items: center;
					justify-content: space-between;
					min-width: 690px;

					.middle-left,
					.middle-right{
						display: flex;
						align-items: center;
						flex: none;
					}

					.middle-left{
						.btn-default{
							position: relative;
							z-index: 10;
						}
					}

					.main-nav{
						margin-right: 25px;
					}
				}

				.header-right{
					flex: none;
					display: flex;
					padding: 15px 20px;
					align-items: center;
					justify-content: space-between;
				}
			}
		}

		.main-section{
			display: flex;
			flex: auto;
			min-width: $content-min-width;
			max-width: $content-max-width;
			width: 100%;
			background: #fff;

			.sidebar{
				flex: none;
				width: auto;
				max-width: 255px;
				background: $light-bg;
				padding: 23px 15px 30px;
			}

			.main-content{
				flex: auto;
				padding: 35px 30px 60px 60px;

				.main-content-inner{
					display: flex;

					.page-content{
						flex: auto;
					}

					.right-sidebar{
						flex: none;
						margin-left: 30px;
						width: 255px;
					}
				}
			}
		}
	}

	.footer{
		flex: none;
	}

	@media screen and (max-width: $desktop-breakpoint){
		.page{
			.header{
				.header-inner{
					.header-middle{
						min-width: 490px;
					}
				}
			}

			.main-section{
				.sidebar{}

				.main-content{
					padding-left: 15px;
					padding-right: 15px;
					width: calc(100% - 60px);

					.main-content-inner{
						.page-content{
							width: calc(100% - 215px);
						}

						.right-sidebar{
							width: 200px;
							margin-left: 15px;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: $tablet-breakpoint){
		.page{
			.header{
				.header-inner{
					.header-middle{
						min-width: 360px;

						.middle-left{
							flex-direction: column;
							align-items: flex-start;

							.main-nav{
								margin-right: 0;
								margin-bottom: 5px;
							}
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: $mobile-big-breakpoint){
		.page{
			.main-section{
				.main-content{
					.main-content-inner{
						flex-direction: column;

						.page-content{
							margin-bottom: 15px;
							width: 100%;
						}

						.right-sidebar{
							width: 100%;
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: $mobile-small-breakpoint){
		.page{
			.main-section{
				.sidebar{
					padding-left: 5px;
					padding-right: 5px;
					padding-top: 3px;
				}

				.main-content{
					padding-left: 10px;
					padding-right: 10px;
					width: calc(100% - 40px);
					padding-top: 10px;
				}
			}
		}
	}

	@media screen and (max-width: 620px){
		padding-top: 55px;

		.page{
			.header{
				height: 55px;

				.header-inner{
					justify-content: space-between;

					.header-left,
					.header-right{
						padding: 5px 10px;
					}

					.header-middle{
						display: none;
					}
				}
			}
		}
	}
}

.scrollable-container{
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	.table{
		width: 100%;
		max-width: 100%;
		display: table;
	}
}