.menu-opener {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px; }
  .menu-opener .bar {
    width: 24px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    margin-bottom: 3px; }
    .menu-opener .bar:last-child {
      margin-bottom: 0; }
  @media screen and (max-width: 620px) {
    .menu-opener {
      display: block; } }
