.notification-card{
	background: #fff;
	padding: 25px 30px;
	display: flex;

	.card-date{
		flex: none;
		width: 150px;

		p{
			font-size: 14px;
			line-height: 18px;
			color: $text-dark;
		}
	}

	.card-info{
		display: flex;
		flex: auto;

		.card-info-icon{
			flex: none;
			margin-right: 10px;
		}

		.card-info-text{
			flex: auto;
			padding-right: 20px;

			.card-title{
				font-weight: bold;
				color: $green;
				margin-bottom: 0;
				line-height: 18px;
			}

			.card-subtitle{
				margin-bottom: 0;
				line-height: 18px;
			}

			.card-hidden-text{
				padding-top: 20px;
				display: none;

				p{
					font-size: 14px;
					line-height: 18px;
					margin-bottom: 18px;

					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.card-opener{
		width: 34px;
		height: 34px;
		flex: none;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: -10px;
		transition: all $t;
		transform: rotate(0);
		cursor: pointer;
		position: relative;

		&:before{
			content: '';
			display: block;
			height: calc(100% + 50px);
			width: 74px;
			position: absolute;
			right: -20px;
			top: -25px;
		}
	}

	&.opened{
		.card-opener{
			transform: rotate(-180deg);
		}
	}

	@media screen and (max-width: $mobile-big-breakpoint){
		flex-wrap: wrap;
		padding: 15px;

		.card-date{
			width: 100%;
			// margin-bottom: 4px;
			padding-left: 32px;

			p{
				font-size: 12px;
				br{
					display: none;
				}
			}
		}

		.card-opener{
			&:before{
				right: -5px;
				top: -33px;
			}
		}
	}

	@media screen and (max-width: $mobile-small-breakpoint){
		position: relative;

		.card-info{
			padding-right: 35px;
			width: 100%;

			.card-info-text{
				padding-right: 0;

				.card-hidden-text{
					width: calc(100% + 35px);
				}
			}
		}

		.card-opener{
			right: 15px;
			top: 25px;
			position: absolute;

			&:before{
				width: 55px;
				top: -25px;
			}
		}
	}
}