.notification-card{
	background: #fff;
	padding: 25px 30px;
	display: flex;

	.card-date{
		flex: none;
		width: 150px;

		p{
			font-size: 14px;
			line-height: 18px;
			color: $text-dark;
		}
	}

	.card-info{
		display: flex;
		flex: auto;

		.card-info-icon{
			flex: none;
			margin-right: 10px;
		}

		.card-info-text{
			flex: auto;
			padding-right: 20px;

			.card-title{
				font-weight: bold;
				color: $green;
				margin-bottom: 0;
				line-height: 18px;
			}

			.card-subtitle{
				margin-bottom: 0;
				line-height: 18px;
			}

			.card-hidden-text{
				padding-top: 20px;
				display: none;

				p{
					font-size: 14px;
					line-height: 18px;
					margin-bottom: 18px;

					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.card-opener{
		width: 34px;
		height: 34px;
		flex: none;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: -10px;
		transition: all $t;
		transform: rotate(0);
		cursor: pointer;
		position: relative;

		&:before{
			content: '';
			display: block;
			height: calc(100% + 50px);
			width: 74px;
			position: absolute;
			right: -20px;
			top: -25px;
		}
	}

	&.opened{
		.card-opener{
			transform: rotate(-180deg);
		}
	}
}