.tabs-nav{
	list-style: none;
	display: flex;
	margin-bottom: 35px;
	position: relative;

	&:before,
	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: #e8e8e8;
		position: absolute;
		top: 0;
		left: 0;
	}

	&:after{
		bottom: 0;
		top: 0;
	}

	li{
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			padding: 0 28px;
			min-height: 50px;
			font-size: 14px;
			font-weight: bold;
			color: $text-dark;
			position: relative;
			margin-bottom: 0px;
			z-index: 2;

			&:after{
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background: $green;
				position: absolute;
				left: 0;
				bottom: 0px;
				opacity: 0;
				transition: all $t;
				z-index: 4;
			}

			&:hover{
				&:after{
					opacity: 1;
				}
			}
		}

		&.current{
			a{
				&:after{
					opacity: 1;
				}
			}
		}
	}

	@media screen and (max-width: $mobile-big-breakpoint){
		width: 100%;
		overflow-x: auto;
		overflow-y: visible;

		li{
			a{
				padding: 0 10px;
			}
		}
	}
}