.withdraw-form{
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 760px;

	.withdraw-wallet{
		flex: auto;
		margin-right: 20px;
	}

	.withdraw-amount{
		flex: none;
		width: 135px;
		margin-right: 20px;
	}

	.withdraw-button{
		flex: none;
	}

	@media screen and (max-width: $mobile-big-breakpoint){
		flex-direction: column;
		align-items: flex-start;

		.withdraw-wallet,
		.withdraw-amount{
			width: 100%;
			margin-right: 0;
			margin-bottom: 10px;
		}

		.withdraw-button{
			align-self: flex-end;
		}
	}
}