.wallet-block{
	align-items: center;
	display: flex;

	.wallet-icon{
		i{
			display: block;
		}
	}

	.wallet-amount{
		padding: 0 7px;
		font-size: 18px;
		line-height: 18px;
		color: #fff;
		display: block;
	}

	.wallet-button{}
}